<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Globals.AppName}}{{.Globals.TitleSuffix}}</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <h1>{{.Globals.AppName}}</h1>
    <pre>This is the default demo template :D</pre>
</body>
</html>
