<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login {{.Globals.TitleSuffix}}</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
    <fieldset>
        <legend>Login {{.Globals.AppName}}</legend>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autofocus value=""/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value=""/>
        <button type="submit">Login</button>
    </fieldset>
</body>
</html>
