<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login {{.Globals.TitleSuffix}}</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
    {{range .Locals.Messages}}
    <div class="message message-{{.Type}}">
        <b>{{.Title}}</b>
        <p>{{.Text}}</p>
    </div>
    {{end}}
    <form method="post">
        <fieldset>
            <legend>Login {{.Globals.AppName}}</legend>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autofocus value=""/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value=""/>
            <button type="submit" name="{{.Locals.LoginField}}" value="{{.Locals.LoginValue}}">Login</button>
        </fieldset>
    </form>
</body>
</html>
