<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logout {{.Globals.TitleSuffix}}</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
    {{range .Locals.Messages}}
    <div class="message message-{{.Type}}">
        <b>{{.Title}}</b>
        <p>{{.Text}}</p>
    </div>
    {{end}}
    <a class="application" href="/">
        Back to Index
    </a>
</body>
</html>
