<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Not Found{{.Globals.TitleSuffix}}</title>
    <link rel="stylesheet" href="/css/errors.css"/>
</head>
<body>
    <h1>404 Not Found :(</h1>
    <pre>{{.Globals.AppPrefix}} Default 404 Template</pre>
</body>
</html>
